*{
  margin:0;
  padding:0;
  
}
.App{

 
  text-align: center;
  min-height: 100vh;
  background-image:linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
}
.header{
  padding-top: 100px;
  padding-bottom: 30px;
  color: white;
}
form{
  min-height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input, form button{
  border: none;
  background: white;
  font-size: 22px;
  padding: 5px;
}
form button{
  color: #fc00ff;
  cursor: pointer;
}
form button:hover{
  background: #fc00ff;
  color: white;
}
form ul{
  margin-top: 20px;
}
form ol{
  margin-top: 10px;
  background: white;
  font-size: 22px;
  padding: 5px;
  width: 300px;
  text-align: justify
}